/*Variables*/

:root{
    --x-small: 11px;
    --small: 14px;
    --medium: 16px;
    --large: 20px;
    --x-large: 26px;
    --xx-large: 54px;

    --Primary: #5640FF;
    --Warning: #F22A40;
    --Light: #F8F8FA;
    --Dark: #000425;

    --bp-mobile: 770px;
    --bp-tablet: 990px;
    --bp-desktop: 1200px;
}


/*Base*/

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

div{
    background-color: none;
}
button:focus, input[type="submit"]:focus, input:focus{
    outline: none;
}
button, input[type="submit"]{
    cursor: pointer;
}

/*Fonts*/

.Title-1{
    font-size: var(--xx-large);
    font-family: 'Poppins', sans-serif;
}
.Title-2{
    font-size: var(--x-large);
    font-family: 'Poppins', sans-serif;
}
.Title-3{
    font-size: var(--large);
    font-family: 'Poppins', sans-serif;
}
.Title-4{
    font-size: var(--medium);
    font-family: 'Poppins', sans-serif;
}
.Title-5{
    font-size: var(--small);
    font-family: 'Poppins', sans-serif;
}
.Parrafo{
    font-size: var(--small);
    font-family: 'Roboto', sans-serif;
}
.f-Small{
    font-size: var(--x-small);
    font-family: 'Roboto', sans-serif;
}

/*Layout*/

.l-container-pd{
    width: 100%;
    padding: 20px 10px;
    min-width: 300px;
}

.l-container-full{
    width: 100%;
    padding: 0 10px;
    min-width: 300px;
}

.l-section{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

@media screen and (min-width: 770px){
    .l-container-pd{
        padding: 30px 30px;
    }
    .l-container-full{
        width: 100%;
        padding: 0 30px;
        min-width: 300px;
    }
}

@media screen and (min-width: 990px){
    .l-container-pd{
        padding: 40px 50px;
    }
    .l-container-full{
        width: 100%;
        padding: 0 50px;
        min-width: 300px;
    }
}